@import url(./css/header.css);
@import url(./css/mediaQuery.css);
/* * + * {
  margin: 1em 0 0;
} */
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}
html,
body {
  width: 100%;
  height: 100%;
  padding: 0px;
  overflow-x: hidden;
}

.body-s {
  display: grid;
  height: 100vh;
  grid-template-rows: 150px 1fr 75px;
  margin: 0;
}
.main-s {
  overflow-y: auto;
}
